---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/rss.xml">RSS</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1.5em;
		font-weight: 700;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
		color: rgb(var(--black));
	}

	h2 a:hover {
		color: var(--accent);
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.internal-links {
		display: flex;
		gap: 1em;
	}

	nav a {
		padding: 1em 0.5em;
		color: rgb(var(--gray-dark));
		border-bottom: 4px solid transparent;
		text-decoration: none;
		transition: color 0.2s, border-bottom-color 0.2s;
	}

	nav a:hover {
		color: var(--accent);
	}

	nav a.active {
		border-bottom-color: var(--accent);
	}

	@media (max-width: 720px) {
		h2 {
			font-size: 1.2em;
		}

		.internal-links {
			gap: 0.5em;
		}

		nav a {
			padding: 1em 0.25em;
			font-size: 0.9em;
		}
	}
</style>
